<div class="container">
  
	<h1>Todo</h2>
  
	<div class="row">
		<div class="col-md-12">
			<form ng-submit="mainCtrl.addTodo({title : mainCtrl.newTodoTitle})">
				<input type="text" class="form-control" ng-model="mainCtrl.newTodoTitle"
					placeholder="Type title here"
				/>
			</form>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<ul class="todos">
				<li class="todo-item" ng-class="mainCtrl.getTodoClasses(todo)"  ng-repeat="todo in mainCtrl.getTodos()">
					<div class="input-group">
						<span class="input-group-addon">
							<input type="checkbox" ng-model="todo.completed"/>
						</span>
						<input type="text" class="form-control" ng-model="todo.title"
							ng-readonly="todo.completed"
						>
						<span class="input-group-btn">
							<button class="btn btn-default" ng-click="mainCtrl.removeTodo(todo)">
							<span class="glyphicon glyphicon-remove-circle"></span>
							</button>
							<span class="sr-only">Remove</span>
						</span>
						
					</div>
				</li>
			</ul>
		</div>
	</div>
  
</div>
