<ng-transclude></ng-transclude>
<ul class="todos">
				<li class="todo-item" ng-class="getTodoClasses(todo)"  ng-repeat="todo in todos track by todo.$id">
					<div class="input-group">
						<span class="input-group-addon">
							<input type="checkbox" ng-model="todo.completed" ng-change="saveTodos()"/>
						</span>
						<input type="text" class="form-control" ng-model="todo.title"
							ng-readonly="todo.completed" ng-change="saveTodos()"
						>
						<span class="input-group-btn">
							<button class="btn btn-default" ng-click="removeTodo(todo)">
							<span class="glyphicon glyphicon-remove-circle"></span>
							</button>
							<span class="sr-only">Remove</span>
						</span>
						
					</div>
				</li>
			</ul>