<ng-transclude></ng-transclude>
<div>Inside directive template, new todo title: {{newTodoTitle}}
<br/>
<span ng-bind="newTodoTitle"></span>
<br/>
<input ng-model="newTodoTitle" type="text"/>
</div>
<ul class="todos">
  <li class="todo-item flip-animation" ng-repeat="todo in ajstTodoListCtrl.todos track by todo.$id" ng-class="ajstTodoListCtrl.getTodoClasses(todo)">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" ng-model="todo.completed" ng-change="ajstTodoListCtrl.saveTodo(todo)"/>
      </span>
      <input type="text" class="form-control" ng-model="todo.title" ng-readonly="todo.completed" ng-change="ajstTodoListCtrl.saveTodo(todo)"/>
      <span class="input-group-addon">
        <button ng-click="ajstTodoListCtrl.removeTodo(todo)" class="btn-unstyled"><span class="glyphicon glyphicon-remove-circle"></span><span class="sr-only">Remove</span></button>
      </span>
    </div>

  </li>
</ul>