@import "compass/css3";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.btn-unstyled{
	background: none;
	border: none;
}

.slide-animation{
	&.ng-enter{
		@include animation(wobble.5s);
	}
	
	&.ng-leave{
		@include animation(zoomOut.5s);
	}
}

.login-page {
  form {
    margin-bottom:1em;
  }

  .btn-link {
    padding-left: 0;
  }
}


$item-height: 4em;

.todos{
	padding:1em 0;
	.todo-item{
		
		list-style: none;
		padding: .5em 0;
	
		&.completed {
			input {
				text-decoration: line-through;
			}
		}
	
		@include transition (0.3s ease all);
	
		&.ng-enter{
			opacity: 0;
			max-height:0;
			padding:0;
			
			&.ng-enter-exit{
				opacity: 1;
				max-height: $item-height;
				padding: .5em 0;
			}	
		}
		
		&.ng-leave{
			opacity: 1;
			max-height: $item-height;
			padding:.5em 0;
			
			&.ng-leave-active{
				opacity: 0;
				max-height:0;
				padding: 0;
			}	
		}
		
		
		input{
			@include transition(.3s ease all);
		}
	}
}