@import "compass/css3";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.btn-unstyled{
	background: none;
	border: none;
}

@keyframes spin-360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  from {
     transform: scale(0); 
  }
  to {
     transform: scale(-5); 
  }
}




$item-height: 4em;

.todos{
	padding:1em 0;
	.todo-item{
		
		list-style: none;
		padding: .5em 0;
	
		&.completed {
			input {
				text-decoration: line-through;
			}
		}
	
		@include transition (0.3s ease all);
	
		&.ng-enter{
			animation: spin-360 1s;
			
			&.ng-enter-exit{
				animation: spin-360 1s;
			}	
		}
		
		&.ng-leave{
			animation: scale 1s;
			&.ng-leave-active{
				animation: scale 1s;
			}	
		}
		
		
		input{
			@include transition(.3s ease all);
		}
	}
}